<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="row flex-grow-1">
                    <div class="col">
                        <div class="navbar-collapse collapse d-sm-flex flex-sm-row-reverse float-right">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Поиск</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="CreateAds">Подать обьявление</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Ваш язык: Русский</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Валюта: BYN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Корзина: 0</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </nav>
    </header>
    <div class="bg-light">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
