@model AdsCreateModel

@{
    ViewData["Title"] = "AddAds";
}

<h1>AddAds</h1>

<h4>AdsCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAds">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <input asp-for="IdCustomer" class="form-control" />
                <span asp-validation-for="IdCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCatalog" class="control-label"></label>
                <input asp-for="IdCatalog" class="form-control" />
                <span asp-validation-for="IdCatalog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitlePath" class="control-label"></label>
                <input asp-for="TitlePath" class="form-control" />
                <span asp-validation-for="TitlePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdsText" class="control-label"></label>
                <input asp-for="AdsText" class="form-control" />
                <span asp-validation-for="AdsText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


