@model string
@{ ViewData["Title"] = "Поиск"; }

<hr />
<div class="find-form doska-form">
    <div class="card-body">
        <h2 class="card-title text-center">Поиск</h2>
        <form asp-controller="Home" asp-action="FindAdses">
            <p>
                Введите текст: <input class="form-control" type="text" name="findtext">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Найти" />
                </div>
            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

