@model string
@{ ViewData["Title"] = "Поиск"; }

<div class="find-form doska-form">
    <div class="card-body">
        <h2 class="card-title text-center">Поиск</h2>
        <form asp-controller="Home" asp-action="FindAdses">
            <p>
                Введите текст: <input class="form-control" type="text" name="findtext" placeholder="Введите текст" />
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Найти" />
                </div>
            </p>
        </form>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">На главную</a>
    </div>
</div>
