@model IEnumerable<vCatalog>
<div class="container">
    <div class="row">


        @*@foreach (IGrouping<string, string> catalogGroup in Model.GroupBy(catalog => catalog.Title, catalog => catalog.Subtitle))*@
        @*@foreach (IGrouping<string, string> gCatalogs in Model.GroupBy(c => c.NameTitle, c => c.NameSubtitle))*@
            @foreach (var groups in Model.GroupBy(c => c.NameTitle))

            {
                <div class="card col-md-3 shadow-sm">
                    <table class="table table-borderless table-hover">
                        <tr>
                            <th>
                                <a href="#">@groups.Key</a>
                            </th>
                        </tr>
                        @foreach (var g in groups)
                        {
                            <tr>
                                <td class="p-0">
                                    <a asp-action="CreatedAd" asp-controller="Home" asp-route-id="@g.id">
                                        @g.NameSubtitle
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
    </div>
</div>