@model IEnumerable<vCatalog>
<div class="container">
    <div class="row">


        @*@foreach (IGrouping<string, string> catalogGroup in Model.GroupBy(catalog => catalog.Title, catalog => catalog.Subtitle))*@
        @foreach (IGrouping<string, string> gCatalogs in Model.GroupBy(vcatalog=>vcatalog.NameTitle, vcatalog=>vcatalog.NameSubtitle))
        {
            <div class="card col-md-3 shadow-sm">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th>
                            <a href="#">@gCatalogs.Key</a>
                        </th>
                    </tr>
                    @foreach (var subtitle in gCatalogs)
                    {
                        <tr>
                            <td class="p-0">
                                <a asp-action="CreatedAd" asp-controller="Home" asp-route-id="12">
                                    @subtitle
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>