@model IEnumerable<Catalog>
<div class="container">
    <div class="row">


        @*@foreach (IGrouping<string, string> catalogGroup in Model.GroupBy(catalog => catalog.Title, catalog => catalog.Subtitle))*@
        @foreach (Catalog catalog in Model)
        {
            <div class="card col-md-3 shadow-sm">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th>
                            <a href="#">@*@catalog.Title*@</a>
                        </th>
                    </tr>
                    @*@foreach (Subtitle subtitle in catalog.Subtitles)
                    {
                        <tr>
                            <td class="p-0">
                                <a asp-action="CreatedAd" asp-controller="Home" asp-route-id="12">
                                    @subtitle.NameSubtitle
                                </a>
                            </td>
                        </tr>
                    }*@
                </table>
            </div>
        }
    </div>
</div>