@model IEnumerable<Catalog>
<div class="container">
    <div class="row">

        <table class="table table-bordered">
            <caption>Доска обьявлений</caption>

            @*@foreach (IGrouping<string, string> catalogGroup in Model.GroupBy(catalog => catalog.Title, catalog => catalog.Subtitle))*@
            @foreach (Catalog catalog in Model)

            {

                <tr>
                    <th>@catalog.Title</th>
                </tr>
                @foreach (Subtitle subtitle in catalog.Subtitles)
                {
                    <tr>
                        <td>
                            @subtitle.NameSubtitle
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>