@model Doska.Models.Ads

@{ ViewData["Title"] = "Удалить"; }

<div class="delete-form doska-form">
    <div class="card">
        <div class="card-header">Удалить обьявление?</div>
        <div class="card-body">
            <div class="form-group">

                @Html.DisplayNameFor(model => model.AdsText)
                @Html.DisplayFor(model => model.AdsText)
            </div>
            <form asp-action="Delete" asp-controller="Ads">
                <div class="float-right">
                    <button class="btn btn-danger " data-toggle="tooltip" data-placement="top" title="Save">
                        <i class="fa fa-trash"></i> Удалить
                    </button>
                    <a class="btn btn-secondary" href="@Url.Action("ViewCustomerAdses", "Home")" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-close"></i> Отмена</a>
                </div>
                @*<div class-right>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <a class="btn btn-secondary" href="@Url.Action("ViewCustomerAdses", "Home")" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-close"></i> Отмена</a>
            </div>*@
            </form>
            <br />

            <div>
                <a asp-action="ViewCustomerAdses" asp-controller="Home">Назад</a>
            </div>
        </div>
    </div>
</div>
