@model Doska.Models.Ads
@{ ViewData["Title"] = "Редактировать"; }
<div class="edit-form doska-form">
    <form asp-action="Edit">
        <div class="card">
            <div class="card-header">Редактировать</div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IdCustomer" />
                <input type="hidden" asp-for="IdCatalog" />
                <div class="form-group">
                    <label asp-for="AdsText" class="control-label">Текст:</label>
                    <textarea asp-for="AdsText" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="AdsText" class="text-danger"></span>
                </div>
                <div class="float-right">
                    <button class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="Save">
                        <i class="fa fa-save"></i> Сохранить
                    </button>
                    <a class="btn btn-secondary" href="@Url.Action("ViewCustomerAdses", "Home")" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-close"></i> Отмена</a>
                </div>
                <br />
                <div>
                    <a asp-action="ViewCustomerAdses" asp-controller="Home">Назад</a>
                </div>
            </div>
        </div>
    </form>

</div>

